button {
  margin-top: 16px;
  color: #4f8ff0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: medium none;
  background: transparent;
  background-color: transparent;
}
