.contacts {
  &__icon {
    margin-right: 8px;
  }

  &__left {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  &__phone {
    margin-right: 28px;
    color: white;
  }

  &__mail {
    color: white;
  }
}
.header__bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.76);
}

.pravo {
    display: flex;
    justify-content: space-between;
    align-items: center;

  &__left {
    margin-top: 22px;
    margin-bottom: 28px;
    display: flex;
    width: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: -10px;
  }

  &__h1 {
    color: #4f8ff0;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
  }

  &__p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 30px */
    text-transform: lowercase;
  }

  &__right {
    color: #fff;
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  }

  &__title:hover {
    color: #4F8FF0;
  }
}

@media screen and (max-width:750px) {
  .contacts{
    &__phone{
      color: #4f8ff0;
    }
  }
}





@media screen and (max-width:350px) {
  .contacts{
    &__phone{
      display: none;
    }
  }
}
