.servis {
  display: flex;
  width: 1920px;
  height: 960px;
  background: #f7f7f7;
}

.serv {
  // width: 920px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__serv {
    margin-top: 80px;
    margin-bottom: 10px;
    color: #222;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__stand {
    background: #4f8ff0;
    width: 50px;
    height: 3px;
    margin-bottom: 24px;
  }

  &__txt {
    margin-bottom: 48px;
    color: #222;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  


  &__second {
    background-color: #fff;
    display: flex;
    width: 424px;
    height: 250px;
    padding: 50px 32px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
  }

  &__text3 {
    align-self: stretch;
    color:#222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }  
}

.blocks__button {
  display: block;
  margin: 48px auto 80px;
}


